@model Finaas.Web.Data.Investigacion.Escuela

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Escuela</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conocimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conocimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaApertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaApertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decano.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
