@model IEnumerable<Finaas.Web.Data.Investigacion.MsterProject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAprobacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIniciacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presupuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponibilidadPresupuestal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadApoyo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regulacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAprobacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIniciacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presupuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponibilidadPresupuestal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadApoyo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regulacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
